<canvas id="{uniqueID}_canvas" style="pointer-events: none; z-index: 6;"></canvas>

<div id="{uniqueID}_button" class="icon noselect" tyle="z-index: 15; left: -9999px;">
    <img src="assets/button.svg" alt="?" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
    <img src="assets/simplegoal.svg" alt="?" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
    <img src="assets/btn/_none.svg" alt="?" style="position: relative; top: 50%; left: 50%; width: 50%; height: 50%;">
</div> 